#ifndef SECRETS_H
#define SECRETS_H

// --- CREDENCIALES DE EJEMPLO ---
// Renombra este archivo a 'secrets.h' y completa tus datos reales.
// Este archivo NO debe ser subido al repositorio (ya está en .gitignore).

#define WIFI_SSID       "TU_WIFI_HERE"
#define WIFI_PASSWORD   "TU_PASS_HERE"
#define MQTT_SERVER     "broker.smartaccess.com.ve"
#define MQTT_USER       "tu_usuario"
#define MQTT_PASS       "tu_password"

#endif
